In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.rand(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.818701  0.308106  0.260781  0.001293
B  0.474871  0.850993  0.245538  0.953653
C  0.834683  0.536983  0.483877  0.231678
D  0.614642  0.367462  0.883038  0.629388
E  0.659874  0.509175  0.703587  0.542206

In [4]:
df[['W','X']]

          W         X
A  0.818701  0.308106
B  0.474871  0.850993
C  0.834683  0.536983
D  0.614642  0.367462
E  0.659874  0.509175

In [9]:
df.loc['A']

W    0.300745
X    0.985810
Y    0.757782
Z    0.420438
Name: A, dtype: float64

In [11]:
df.iloc[4]

W    0.917595
X    0.245370
Y    0.515645
Z    0.012691
Name: E, dtype: float64

In [6]:
df.drop('Z',axis = 1,inplace = True)
df

          W         X         Y
A  0.818701  0.308106  0.260781
B  0.474871  0.850993  0.245538
C  0.834683  0.536983  0.483877
D  0.614642  0.367462  0.883038
E  0.659874  0.509175  0.703587

In [16]:
df

          W         X         Y
A  0.300745  0.985810  0.757782
B  0.525217  0.176134  0.752138
C  0.313377  0.664214  0.691763
D  0.985375  0.424156  0.980772
E  0.917595  0.245370  0.515645

In [18]:
df.loc[['A','B']]

          W         X         Y
A  0.300745  0.985810  0.757782
B  0.525217  0.176134  0.752138

In [20]:
df.loc[['B','C'],['Y','W']]

          Y         W
B  0.752138  0.525217
C  0.691763  0.313377

In [22]:
df['Z'] = pd.Series(np.random.rand(5),df.index)
df

          W         X         Y         Z
A  0.300745  0.985810  0.757782  0.747495
B  0.525217  0.176134  0.752138  0.738918
C  0.313377  0.664214  0.691763  0.281280
D  0.985375  0.424156  0.980772  0.012769
E  0.917595  0.245370  0.515645  0.523091

In [24]:
df.sum(0)

W    3.042309
X    2.495684
Y    3.698101
Z    2.303552
dtype: float64

In [26]:
df.sum(1)

A    2.791832
B    2.192407
C    1.950635
D    2.403072
E    2.201701
dtype: float64

In [29]:
df['X'] = df['X'] + 1
df

          W         X         Y         Z
A  0.300745  3.985810  0.757782  0.747495
B  0.525217  3.176134  0.752138  0.738918
C  0.313377  3.664214  0.691763  0.281280
D  0.985375  3.424156  0.980772  0.012769
E  0.917595  3.245370  0.515645  0.523091

In [31]:
df.iloc[1:,:3]

          W         X         Y
B  0.525217  3.176134  0.752138
C  0.313377  3.664214  0.691763
D  0.985375  3.424156  0.980772
E  0.917595  3.245370  0.515645

In [33]:
df**2

          W          X         Y         Z
A  0.090447  15.886684  0.574233  0.558749
B  0.275853  10.087827  0.565712  0.545999
C  0.098205  13.426463  0.478537  0.079118
D  0.970964  11.724845  0.961914  0.000163
E  0.841980  10.532427  0.265890  0.273624

In [34]:
df

          W         X         Y         Z
A  0.300745  3.985810  0.757782  0.747495
B  0.525217  3.176134  0.752138  0.738918
C  0.313377  3.664214  0.691763  0.281280
D  0.985375  3.424156  0.980772  0.012769
E  0.917595  3.245370  0.515645  0.523091

In [35]:
df['X']

A    3.985810
B    3.176134
C    3.664214
D    3.424156
E    3.245370
Name: X, dtype: float64

In [39]:
df.iloc[1,3]

0.73891766013378668

In [40]:
df.iloc[1:4,0:3]

          W         X         Y
B  0.525217  3.176134  0.752138
C  0.313377  3.664214  0.691763
D  0.985375  3.424156  0.980772

In [41]:
df

          W         X         Y         Z
A  0.300745  3.985810  0.757782  0.747495
B  0.525217  3.176134  0.752138  0.738918
C  0.313377  3.664214  0.691763  0.281280
D  0.985375  3.424156  0.980772  0.012769
E  0.917595  3.245370  0.515645  0.523091

In [49]:
df[ (df['W']>0.5) & np.invert(df['W'] > 0.92)]

          W         X         Y         Z
B  0.525217  3.176134  0.752138  0.738918
E  0.917595  3.245370  0.515645  0.523091

In [52]:
df.reset_index(inplace = True)

In [56]:
df['States'] = 'RJ WB DL AP PB'.split()

In [58]:
df.set_index('States')

       index         W         X         Y         Z
States
RJ         A  0.300745  3.985810  0.757782  0.747495
WB         B  0.525217  3.176134  0.752138  0.738918
DL         C  0.313377  3.664214  0.691763  0.281280
AP         D  0.985375  3.424156  0.980772  0.012769
PB         E  0.917595  3.245370  0.515645  0.523091

In [59]:
df

  index         W         X         Y         Z States
0     A  0.300745  3.985810  0.757782  0.747495     RJ
1     B  0.525217  3.176134  0.752138  0.738918     WB
2     C  0.313377  3.664214  0.691763  0.281280     DL
3     D  0.985375  3.424156  0.980772  0.012769     AP
4     E  0.917595  3.245370  0.515645  0.523091     PB

In [60]:
df.set_index('States' , inplace = True)

In [61]:
df

       index         W         X         Y         Z
States
RJ         A  0.300745  3.985810  0.757782  0.747495
WB         B  0.525217  3.176134  0.752138  0.738918
DL         C  0.313377  3.664214  0.691763  0.281280
AP         D  0.985375  3.424156  0.980772  0.012769
PB         E  0.917595  3.245370  0.515645  0.523091

In [62]:
df.reset_index(inplace = True)

In [63]:
df

  States index         W         X         Y         Z
0     RJ     A  0.300745  3.985810  0.757782  0.747495
1     WB     B  0.525217  3.176134  0.752138  0.738918
2     DL     C  0.313377  3.664214  0.691763  0.281280
3     AP     D  0.985375  3.424156  0.980772  0.012769
4     PB     E  0.917595  3.245370  0.515645  0.523091

In [64]:
df.drop('index' , axis = 1 , inplace = True)

In [65]:
df

  States         W         X         Y         Z
0     RJ  0.300745  3.985810  0.757782  0.747495
1     WB  0.525217  3.176134  0.752138  0.738918
2     DL  0.313377  3.664214  0.691763  0.281280
3     AP  0.985375  3.424156  0.980772  0.012769
4     PB  0.917595  3.245370  0.515645  0.523091

In [67]:
df.set_index('States',inplace = True)

In [68]:
df.loc[['WB','DL']]

               W         X         Y         Z
States
WB      0.525217  3.176134  0.752138  0.738918
DL      0.313377  3.664214  0.691763  0.281280

In [69]:
df

               W         X         Y         Z
States
RJ      0.300745  3.985810  0.757782  0.747495
WB      0.525217  3.176134  0.752138  0.738918
DL      0.313377  3.664214  0.691763  0.281280
AP      0.985375  3.424156  0.980772  0.012769
PB      0.917595  3.245370  0.515645  0.523091

In [70]:
df['Z'].std()

0.31479467556435625

In [71]:
ser = pd.Series(np.random.randn(100))

In [72]:
ser

0     0.917084
1     0.407892
2    -0.781997
3     2.077085
4     2.993122
5    -0.644741
6     0.526508
7    -0.164213
8     1.433805
9    -1.493529
10   -0.279382
11   -0.393869
12   -0.602704
13    1.086677
14   -0.372575
15   -0.907646
16    1.667292
17   -1.175014
18   -2.212264
19    1.641605
20   -0.266027
21    0.079949
22    0.299788
23    0.218403
24    1.222805
25   -0.553310
26   -0.400367
27   -0.659574
28    0.943161
29   -0.595524
        ...
70    0.089135
71    0.422516
72    0.674499
73    1.027713
74   -0.251087
75    0.954769
76    1.407556
77    0.083870
78    0.938703
79   -1.177609
80   -0.167841
81   -0.410829
82    1.933237
83    0.815345
84    0.133240
85   -0.145951
86    1.353512
87   -1.214327
88   -1.065551
89   -0.950302
90   -0.289884
91    0.670928
92    0.903074
93   -1.577766
94   -1.943582
95    0.369756
96   -1.773028
97   -0.423955
98   -0.475457
99   -0.149738
dtype: float64

In [73]:
ser.plot()

In [8]:
d = {'A':[1,2,np.nan,5],'B':[3,np.nan,4,7],'C':[np.nan,np.nan,6,0],'D':[7,8,9,1]}

In [9]:
df = pd.DataFrame(d)
df

     A    B    C  D
0  1.0  3.0  NaN  7
1  2.0  NaN  NaN  8
2  NaN  4.0  6.0  9
3  5.0  7.0  0.0  1

In [87]:
df.iloc[1:3].dropna(thresh = 3)

    A    B    C  D
2 NaN  4.0  6.0  9

In [88]:
df['C'].fillna(df['C'].mean())

0    3.0
1    3.0
2    6.0
3    0.0
Name: C, dtype: float64

In [90]:
df.dropna(axis = 1)

   D
0  7
1  8
2  9
3  1

In [91]:
df.dropna(axis = 1,thresh = 3)

     A    B  D
0  1.0  3.0  7
1  2.0  NaN  8
2  NaN  4.0  9
3  5.0  7.0  1

In [92]:
df.dropna(thresh = 3)

     A    B    C  D
0  1.0  3.0  NaN  7
2  NaN  4.0  6.0  9
3  5.0  7.0  0.0  1

In [93]:
df

     A    B    C  D
0  1.0  3.0  NaN  7
1  2.0  NaN  NaN  8
2  NaN  4.0  6.0  9
3  5.0  7.0  0.0  1

In [94]:
df.fillna(value  = 4)

     A    B    C  D
0  1.0  3.0  4.0  7
1  2.0  4.0  4.0  8
2  4.0  4.0  6.0  9
3  5.0  7.0  0.0  1

In [98]:
df.groupby('C',axis = 1)

In [99]:
df

     A    B    C  D
0  1.0  3.0  NaN  7
1  2.0  NaN  NaN  8
2  NaN  4.0  6.0  9
3  5.0  7.0  0.0  1

In [101]:
df['A'] = df['A'].fillna(df['A'].mean())

In [7]:
df['B'] = df['B'].fillna(np.random.randn(1)[0]*df['B'].std() + df['B'].mean())

KeyError: 'B'

In [105]:
d = {'Company':['Go','Go','MS','MS','FB','FB'],'Name':['Abs','Min','Max','Sum','Std','Fuck'],'Sales':[100,400,200,500,600,300]}

In [106]:
df = pd.DataFrame(d)

In [107]:
df

  Company  Name  Sales
0      Go   Abs    100
1      Go   Min    400
2      MS   Max    200
3      MS   Sum    500
4      FB   Std    600
5      FB  Fuck    300

In [112]:
df.groupby('Company').max()

        Name  Sales
Company
FB       Std    600
Go       Min    400
MS       Sum    500

In [113]:
df.groupby('Company').max().loc[['FB','Go']]

        Name  Sales
Company
FB       Std    600
Go       Min    400

In [114]:
df.groupby('Company').max().loc['FB','Sales']

600

In [115]:
df.groupby('Company').max()['Sales']

Company
FB    600
Go    400
MS    500
Name: Sales, dtype: int64